@font-face
{
    font-family: 'distant_galaxyregular';
    src: url('DISTGRG_-webfont.eot');
    src: url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
    url('DISTGRG_-webfont.woff') format('woff'),
    url('DISTGRG_-webfont.ttf') format('truetype'),
    url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'seasideresortnfregular';
    src: url('SEASRN__-webfont.eot');
    src: url('SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
    url('SEASRN__-webfont.woff') format('woff'),
    url('SEASRN__-webfont.ttf') format('truetype'),
    url('SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'capture_itregular';
    src: url('Capture_it-webfont.eot');
    src: url('Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('Capture_it-webfont.woff') format('woff'),
    url('Capture_it-webfont.ttf') format('truetype'),
    url('Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-size: 15px;
}

.shield
{
    height:100px;
}

.pic
{
    width:95%;
}

.fig
{
    width: 250px;
    margin:0;
    padding:0;
}

figcaption
{
    text-align: center;
}

.title
{
    font-family: seasideresortnfregular,fantasy;
    font-size: 100px;
    line-height: 20px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 40px;
    border-bottom: 1px solid #000;
}

input[id='blue']:checked ~ .all article
{
    background: darkblue;
    color: aqua;
}

input[id='white']:checked ~ .all article
{
    background: white;
}

input[id='small']:checked ~ .all article
{
    font-size: 10px;
}

input[id='normal']:checked ~ .all article
{
    font-size: 12px;
}

input[id='large']:checked ~ .all article
{
    font-size: 16px;
}

input[id='serif']:checked ~ .all article .bottom-article
{
    font-family: timesnewroman, serif;
}

input[id='serif']:checked ~ .all article .right-article
{
    font-family: verdana, serif;
}

input[id='serif']:checked ~ .all article .left-article
{
    font-family: georgia, serif;
}

input[id='sans-serif']:checked ~ .all .bottom-article
{
    font-family: Arial, Helvetica, sans-serif;
}

input[id='sans-serif']:checked ~ .all .right-article
{
    "Trebuchet MS", Helvetica, sans-serif
}

input[id='sans-serif']:checked ~ .all .left-article
{
    font-family: Tahoma, Geneva, sans-serif;
}

blockquote
{
    padding-left:0 10px 10px;
    font-size: 120%;
}

time
{
    font-family: timesnewroman ,serif;
    font-size: 15px;
    font-style: italic;
}

p
{
    display: block;
    margin: 0;
    text-indent: 20px;
}

.left-article p::first-letter
{
    font-size: larger;
    font-weight: bolder;
}

.bottom-article p::first-letter
{
    font-size: 100%;
    font-style: italic;
}

.left-article
{
    -webkit-column-count: 3;
    -webkit-column-width: 240px;
    -moz-column-count: 3;
    -moz-column-width: 240px;
    font-size: 80%;
    width: 60%;
    column-count: 3;
    column-width: 240px;
    left: 0;
    text-align: justify;
    float: left;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.left-article h3
{
    font-family: distant_galaxyregular,fantasy;
    font-size: 20px;
}

.author
{
    text-align: right;
    font-style: italic;
    font-size: 110%;
}

.right-article
{
    -webkit-column-count: 2;
    -webkit-column-width: 200px;
    -moz-column-count: 2;
    -moz-column-width: 200px;
    width: 38%;
    column-count: 2;
    column-width: 200px;
    float: right;
    border: 1px solid black;
    text-align: center;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

h3
{
    text-align: center;
}

.right-article h3
{
    -webkit-column-span: all;
    column-span: all;
}

.score
{
    font-weight: bold;
    font-size: 110%;
}

.discipline
{
    font-size: 110%;
    font-weight: bolder;
    text-align: center;
}

.bottom-article
{
    -webkit-column-count: 4;
    -webkit-column-width: 250px;
    -webkit-column-rule: 1px solid;
    -moz-column-count: 4;
    -moz-column-width: 250px;
    -moz-column-rule: 1px solid;
    font-family: georgia,serif;
    font-size: 12px;
    width: 100%;
    column-count: 4;
    column-width: 250px;
    column-rule: 1px solid;
    text-align: justify;
    float:left;
    word-break: break-all;
    margin: 10px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.bottom-article h2
{
    -webkit-column-span: all;
    font-family: capture_itregular,sans-serif;
    column-span: all;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.5px;
}
